<h1>Passengers List</h1>
<%= link_to "Add Passenger", new_passenger_path %>

<table style="text-align: center;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
  </tr>
    <% @passengers.each do |passenger|  %>
  <tr>
    <td><%= passenger[:id] %> </td>
    <td><%= link_to passenger.name, passenger_path(passenger.id) %></td>
    <td><%= passenger[:phone_num] %></td>
  </tr>
  <% end %>
</table>

<div class="paginationlinks">
  <%= link_to( "First Page",  passengers_path(page: 0), :class => "hello") %>
  |
  <%= link_to "Next Page", passengers_path(page: @page + 1) %>

  <%#https://ask.puppet.com/question/3420/if-else-statement-in-erb-template/%>
  <% if @page != 0 %> 
  |      
    <%= link_to "Previous Page", passengers_path(page: @page - 1) %> |
    <%= link_to "Last Page", passengers_path(page: @last_page) %>
  <% end %>
</div>