<h1>Passenger Information</h1>

<%= link_to "Add Trip", new_trip_path(passenger_id: @passenger.id) %>
<table style="text-align: center;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Total Expenses</th>
  </tr>
  <tr>
    <td><%= @passenger[:id] %> </td>
    <td><%= link_to @passenger.name, passenger_path(@passenger.id) %></td>
    <td><%= @passenger[:phone_num] %></td>
    <td>$<%= @passenger.total_expenses %></td>
    <td><%= link_to "Edit", edit_passenger_path(@passenger.id), method: :get %> </td>
    <td><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you super sure?"}%></td>
   <%# Problematic line below %>
    <%# <td><%= link_to "Request a Trip", #deleted because it made no sense %></td>
  </tr>
</table>

<h1>Trip History</h1>

<table style="text-align: center;">
  <tr>
    <th>ID</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>
    <% @passenger.trips.each do |trip|  %>
  <tr>
    <td><%= link_to trip.id, trips_path(trip.id) %></td>
    <td><%= trip.driver.name %></td>
    <td><%= trip.passenger.name %></td>
    <td><%= trip[:date] %></td>
    <td><%= trip[:rating] %></td>
    <td><%= trip[:cost] %></td>
  </tr>
  <% end %>
</table>
