<h1>Drivers List</h1>
<%= link_to "Add Driver", new_driver_path %>
<table style="text-align: center;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>VIN</th>
    <th>Available</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
    <% @drivers.each do |driver|  %>
  <tr>
    <td><%= driver[:id] %> </td>
    <td><%= link_to driver.name, driver_path(driver.id) %></td>
    <td><%= driver[:vin] %></td>
    <td><%= driver[:available] %></td>
    <td><%= link_to "Edit", edit_driver_path(driver.id), method: :get %> </td>
    <td><%= link_to "Delete", driver_path(driver.id), method: :delete, data: {confirm: "Are you super sure?"}%></td>
  </tr>
  <% end %>
</table>

<div class="paginationlinks">
  <%= link_to( "First Page",  drivers_path(page: 0), :class => "hello") %>
  |
  <%= link_to "Next Page", drivers_path(page: @page + 1) %>

  <%#https://ask.puppet.com/question/3420/if-else-statement-in-erb-template/%>
  <% if @page != 0 %> 
  |      
    <%= link_to "Previous Page", drivers_path(page: @page - 1) %> |
    <%= link_to "Last Page", drivers_path(page: @last_page) %>
  <% end %>
</div>