<h1>Drivers List</h1>
<%= link_to "Add Driver", new_driver_path %>
<ul>
  <% @drivers.each do |driver|  %>
    <li>
      ID: <%= driver[:id] %> 
      Name: <%= link_to driver.name, driver_path(driver.id) %>
      VIN: <%= driver[:vin] %>
      Available: <%= driver[:available] %>
    </li>
  <% end %>
</ul>