<%# in app/views/new.html.erb %>

<%= form_with model: @driver, class: 'create-driver' do |f| %>
  <p>Please provide the following information to save your driver to our database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>

  <%= f.label :available %>
  <%= f.text_field :available %>

  <%= f.submit "Save Driver", class: "driver-button" %>
<% end %>