<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
    <%= link_to "Rideshare Rails", root_path %>
    <%= link_to "Drivers", drivers_path %>
    <%= link_to "Passengers", passengers_path %>
    <%= link_to "Trips", trips_path %>
    </div>
    <%= yield %>
  </body>
</html>